.container
  %h1 Collections
  %hr
  %p.well= @collection_info
  %hr
    %button.btn.btn-primary.btn-xs{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Add a Collection
  %hr
  %h1 My Collections
  %hr
  -if @collections == nil?
    You don't have any collections yet.
    %a{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
      = fa_icon "plus"
      Create One
  -else
    = render @collections



  #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
            %span.sr-only Close
        .modal-body
          = render 'form'
        .modal-footer