= simple_form_for current_user.collection_items.build do |f|
  = f.association :collection, :include_blank => 'Add to Collection'
  = f.input :post_id, :as => :hidden, :input_html => { :post_id => @post }
  = f.input :notes
  = f.input :user_id, :as => :hidden, :input_html => { :user_id => current_user }
  = f.button :submit