or
= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f|
  = devise_error_messages!
  %div
    = f.email_field :email, autofocus: true, placeholder: 'email'
  %br
  %div
    = f.text_field :pen_name, placeholder: 'ex. Jimmy Russell'
  %div
    - if @validatable
      %i
        (#{@minimum_password_length} characters minimum)
  %br
    = f.password_field :password, autocomplete: "off", placeholder: 'password'
  %br
  %div
    = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'confirm password'
  %br
  %div= f.submit "Sign up", :class => "btn btn-success"
