.container
  %h1.element
  .row
    .col-md-4.col-md-offset-1.col-xs-offset-1
      %chart= geo_chart User.group(:country).count
      %myButton1
    .col-md-3.col-md-offset-1.col-xs-offset-1
      =button_to user_omniauth_authorize_path(:facebook), id: 'facebook' do
        Sign In With Facebook
      = render 'registration'



