.container
  .row
    .col-md-8
      %h1 Posts Per Day
      =line_chart Post.group_by_day(:created_at).count
    .col-md-4
      %h1 New User Sign Ups
      =line_chart User.group_by_day(:created_at).count
  .row
    .col-md-4
      %h1 Impressions
      =pie_chart User.group_by_day(:created_at).count
    .col-md-4
      %h1 Demographics(race)
      =geo_chart User.group_by_day(:created_at).count
    .col-md-4
      %h1 Demographics(age)
      =line_chart User.group_by_day(:created_at).count
      = Post.avg_up

