-if current_user
  .container
    #myCarousel.carousel.slide{"data-ride" => "carousel"}
      / Wrapper for slides
      .carousel-inner
        -@posts.each_with_index do |p, index|
          -if index == 0
            .item.active
              %img{:src => "#{p.post_picture_url}"}
                .carousel-caption
                  %h1
                    = link_to "#{p.title}", post_path(p)
                  %h4
                    by #{p.author}
                  %p
                    = p.brief
                    = link_to "read more", post_path(p)
          -else
            .item
              %img{:src => "#{p.post_picture_url}"}
                .carousel-caption
                  %h1
                    = link_to "#{p.title}", post_path(p)
                  %h4
                    by #{p.author}
                  %p
                    = p.brief
                    = link_to "read more", post_path(p)
      %ul.list-group.col-sm-4
        -@posts.each_with_index do |p, index|
          -if index == 0
            %li.list-group-item.active{"data-slide-to" => "#{index}", "data-target" => "#myCarousel"}
              %h4= p.title
          -else
            %li.list-group-item{"data-slide-to" => "#{index}", "data-target" => "#myCarousel"}
              %h4= p.title
      .carousel-controls
        %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
          = fa_icon "chevron-left"
        %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
          = fa_icon "chevron-right"
    / End Carousel
    .row
      .col-md-12
        #Carousel.carousel.slide
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#Carousel"}
            %li{"data-slide-to" => "1", "data-target" => "#Carousel"}
            %li{"data-slide-to" => "2", "data-target" => "#Carousel"}
          / Carousel items
          .carousel-inner
            .item.active
              .row
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
            / .row
            / .item
            .item
              .row
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
            / .row
            / .item
            .item
              .row
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
                .col-md-3
                  %a.thumbnail{:href => "#"}
                    %img{:alt => "Image", :src => "http://placehold.it/250x250", :style => "max-width:100%;"}/
          / .row
          / .item
          / .carousel-inner
          %a.left.carousel-control{"data-slide" => "prev", :href => "#Carousel"} ‹
          %a.right.carousel-control{"data-slide" => "next", :href => "#Carousel"} ›
        / .Carousel
-else
  = render 'welcome_registration'

:javascript
  var options = {
  valueNames: [ 'title', 'votes-count']
  };

  var userList = new List('posts', options);


:javascript
  $(document).ready(function(){

    var clickEvent = false;
    $('#myCarousel').carousel({
      interval:   4000
    }).on('click', '.list-group li', function() {
      clickEvent = true;
      $('.list-group li').removeClass('active');
      $(this).addClass('active');
    }).on('slid.bs.carousel', function(e) {
      if(!clickEvent) {
        var count = $('.list-group').children().length -1;
        var current = $('.list-group li.active');
        current.removeClass('active').next().addClass('active');
        var id = parseInt(current.data('slide-to'));
        if(count == id) {
          $('.list-group li').first().addClass('active');
        }
      }
      clickEvent = false;
    });
  })

  $(window).load(function() {
    var boxheight = $('#myCarousel .carousel-inner').innerHeight();
    var itemlength = $('#myCarousel .item').length;
    var triggerheight = Math.round(boxheight/itemlength+1);
    $('#myCarousel .list-group-item').outerHeight(triggerheight);
  });

