.panel.panel-primary
  .panel-heading
    .panel-title
      from: #{message.author}
      = message.workflow_state
      = image_tag message.user.profile_picture_url :thumb
      %hr
      to:
      =image_tag message.recipient.profile_picture_url :thumb
      =message.recipient.pen_name
  .panel-body
    = message.body
  .panel-footer
    = link_to mark_as_read_message_path(message), method: :put  do
      mark as read
    = link_to archive_message_path(message), method: :put do
      archive
    = link_to "delete", message_path(message), method: :delete
