.container
  %h1 Inbox
  %hr
  %div{:role => "tabpanel"}
    %ul.nav.nav-tabs{:role => "tablist"}
      = nav as: :tabs do
        %li{:role => "presentation"}
          = link_to 'Unread', {"aria-controls" => "home", "data-toggle" => "tab", :href => "#unread", :role => "tab"}
        %li{:role => "presentation"}
          = link_to 'Read', {"aria-controls" => "profile", "data-toggle" => "tab", :href => "#read", :role => "tab"}
        %li{:role => "presentation"}
          = link_to 'Trash', {"aria-controls" => "messages", "data-toggle" => "tab", :href => "#trash", :role => "tab"}
        %li{:role => "presentation"}
          = link_to 'Sent', {"aria-controls" => "settings", "data-toggle" => "tab", :href => "#sent", :role => "tab"}

    .tab-content
      #unread.tab-pane.active{:role => "tabpanel"}
        = render @unread
      #read.tab-pane{:role => "tabpanel"}
        = render @read
      #archive.tab-pane{:role => "tabpanel"}
        = render @archived
      #sent.tab-pane{:role => "tabpanel"}
        = render @sent
