.row
  .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
    %h1 About the Author
    %hr
      = image_tag @post.user.profile_picture_url
      .list-group-item
        = @post.user.bio
        = link_to user_path(@post.user_id) do
          Go To
.row
  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "...", "data-src" => "holder.js/300x300"}
        .caption
          %h3 Thumbnail label
          %p ...
          %p
            %a.btn.btn-primary{:href => "#", :role => "button"} Button
            %a.btn.btn-default{:href => "#", :role => "button"} Button