%hr
%div.col-md-6
  %h1 Sentiment
  = pie_chart({"For" => @post.get_upvotes.size, "Against" => @post.get_downvotes.size})
%div.col-md-6
  %h1 Reads
  = line_chart Click.group_by_day(:created_at).count