-if admin
  %div.admin-control
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          %h1 Admin Control
          = link_to "Edit", edit_post_path(@post), class: "btn btn-primary"
          %hr
          = render 'revisions/form'
          %hr
          %h1 Revision List
          %hr
          .ol
            = render @post.revisions