%blockquote
  %header
    = comment.body
  %footer
    - if comment.user_id?
      = link_to(image_tag comment.user.profile_picture_url :thumb)
    = comment.user_id?

  %button.btn.btn-primary.btn-xs{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Report this comment

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4#myModalLabel.modal-title Flag Comment
      .modal-body
        Are you sure you would like to flag this comment for administrative review?
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
        %button.btn.btn-primary{:type => "button"} Flag Comment For Administrators