= render 'categories/form'
%hr
%table.table.table-striped.table-responsive
  -@categories.each do |c|
    %tr
      %td
        =image_tag c.picture_url :thumb
      %td
        =c.created_at
      %td
        =c.description
      %td
        =c.workflow_state
      %td
        = link_to "#{c.name}", category_path(c.id)
      %td
        = link_to c.posts.count, category_posts_path(c.id)
      %td
        = link_to "publish", publish_category_path(c.id), class: 'btn btn-success', method: :put
        = link_to "edit", edit_category_path(c.id), class: 'btn btn-primary'
        = link_to "delete", category_path(c.id), :method => :delete, class: 'btn btn-danger'