%table.table.table-responsive
  %tr
    %th
      %span.glyphicon.glyphicon-camera
    %th
      %span.glyphicon.glyphicon-envelope
    %th
      %span.glyphicon.glyphicon-user
    %th
      = "#"
    %th
      Admin?
    %th
    %th
    %th
    %th
    - @users.each do |u|
      %tr
        %td
          = link_to (image_tag u.profile_picture_url :post_thumb), user_path(u.id)
        %td
          = u.email
        %td
          = link_to "#{u.pen_name}", user_path(u)
        %td
          = link_to "#{u.posts.count} posts", user_path(u)
        %td
          %span.permission{"data-id" => u.id}
            = u.admin?
        %td
          = link_to 'see profile', user_path(u), class: 'btn btn-primary'
        %td
          = link_to 'delete profile', user_path(u), method: :delete, class: 'btn btn-warning'
        %td
          = link_to 'edit profile', edit_user_registration_path(u.id), class: 'btn btn-danger'
        %td
          = link_to toggle_user_path(u), class: 'permission', method: :put, remote: true, id: u.id do
            .btn.btn-success
              Make Admin
