%table.table.table-responsive
  %tr
    %th
      Created At
    %th
      User
    %th
      # of votes
    %th

    %th
      Actions
    -@comments.each do |c|
      %tr
        %td
          =c.created_at
        %td
          = link_to c.user.pen_name, user_path(c.user_id) if c.user_id?
        %td
          =c.body
        %td
          = link_to "delete", post_comment_path(c.post_id, c.id), method: :delete