.container
  %h1 Admin
  %hr
  %div{:role => "tabpanel"}
    %ul.nav.nav-tabs{:role => "tablist"}
      = list_of ({:posts => 1,
      :categories => 2 ,
      :writers => 3,
      :comments => 4,
      :sources => 6}),
      {class: "li", role: "presentation"} do |key, val|
        %a{"aria-controls" => "Profile", "data-toggle" => "tab", :href => "#tab-#{val}", :role => "tab"}
          = key.to_s.upcase



  .tab-content
    .tab-pane{ :id => "tab-1"}
      = render 'admin/posts/posts'
    .tab-pane{:id =>  "tab-2"}
      = render 'categories'
    .tab-pane{:id =>  "tab-3"}
      = render 'users'
    .tab-pane{:id =>  "tab-4"}
      = render 'comments_flagged'
    .tab-pane{:id =>  "tab-5"}
      = render 'admin/posts/revisions'
    .tab-pane{:id =>  "tab-6"}
      = render 'sources'
