= simple_form_for current_user.cards.build do |f|
  = f.input :name, :label => "New Card!", :placeholder => "Create a new card"
  = f.input :international
  = f.input :price
  = f.input :recipient_id, :as => :hidden, :input_html => { :value => "some value" }
  = f.input :front
  = f.input :back
  = f.input :template
  = f.input :full_bleed
  = f.input :message
  = f.button :submit