= simple_form_for current_user.sent_messages.build do |f|
  = f.input :recipient_id, :as => :hidden, :input_html => { :value => @user.id }
  = f.input :subject
  = f.input :body, as: :text
  = f.button :submit, class: 'btn-primary'