= form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f|
  = f.submit "Unfollow", class: "btn"


= button_to 'follow', '#new', class: 'b', form_class: 'f', method: :delete, context: :primary


= modal title: 'Remove Friend', size: :small, id: 'modal', button: {class: :en} do
  .modal-body Please accept the Terms of service.
  .modal-footer
    %button.btn.btn-primary{:type => "button"} Accept