.row
  .col-lg-5
    .media
      = link_to user_path(user) do
        %img.media-object.dp.img-circle{:src => "#{user.profile_picture_url}", :style => "width: 100px;height:100px;"}
      .media-body
        %h4.media-heading.name
          = user.pen_name
          %small= link_to "View Profile", user_path(user)