.container
  #users.col-md-6.col-md-offset-3
    %input.search{:placeholder => "Search"}
    %button.sort{"data-sort" => "name"}
      Sort by Name
    %ul.list
      = render @users



  :javascript
    var options = {
      valueNames: [ 'name', 'votes' ]
    };

    var userList = new List('users', options);


