.row
  .col-md-6.col-md-offset-3
    = image_tag @user.profile_picture_url
.container
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4#myModalLabel.modal-title
          = "To: #{@user.pen_name}"
      .modal-body
        = render 'send_message_to'
      .modal-footer

%h1
  Recent Work
  %hr
    - if @user.posts.any?
      - @user.posts.each do |post|
        .list-group-item
          = fa_icon "file"
          %p= "published a new article: #{post.title}"
    - else
      = fa_icon "info-circle"
      = "#{@user.pen_name} hasn't published anything yet."
