.container
  .row
    %aside.col-md-4
      %section.user_info
        = image_tag @user.profile_picture_url :post_thumb
        %h1= @user.name
        %span= link_to "view my profile", @user
        %hr
      %section.stats
        = render 'shared/stats'
        - if @users.any?
          .user_avatars
            - @users.each do |user|
              = link_to user_path(user) do
                = image_tag user.profile_picture_url :thumb
    .col-md-8
      %h3= @title
      %hr
      - if @users.any?
        %ul.users.follow
          = render @users
        = will_paginate