.container
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
    = devise_error_messages!
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :country
    = f.input :profile_picture
    = f.input :cover_photo
    = f.input :pen_name
    = f.input :bio
    #addresses
    = f.simple_fields_for :addresses do |address|
      = render 'address_fields', :f => address
    .links
      = link_to_add_association 'add address', f, :addresses
    = f.button :submit