.container
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal' }) do |f|
    = devise_error_messages!
    = f.input :email
    = f.input :country
    = f.input :profile_picture
    = f.input :cover_photo
    = f.input :pen_name
    = f.input :bio
    = f.input :password, autocomplete: "off"
    = f.input :password_confirmation, autocomplete: "off"
    = f.button :submit