= simple_form_for [current_user, current_user.revisions.build] do |f|
  = f.input :title, :input_html => { :class => "redactor" }, :autofocus => true
  = f.button :submit, "Add Revision", class: "btn btn-success"

