%li
  %tr
    %td
      "#{revision.title}"
    %td
      - if revision.created_at != nil
        = revision.created_at.strftime("%A, %B %d, %Y")
    %td
      .label.label-danger
        = revision.workflow_state
        = revision.id
      = revision.user.pen_name?

