.btn-group
  %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
    Add To Collection
    =fa_icon "heart"
  %ul.dropdown-menu{:role => "menu"}
    - if current_user.collections == nil?
      %li
        %a Create a collection
    - else
      - current_user.collections.each do |collection|
        %li
          %a{:href => "#"} #{collection.name}