.form.form-inline{:role => "form"}
  = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "form-inline"}) do |f|
    .form-group
      = f.email_field :email, autofocus: true
    .form-group
      = f.password_field :password, autocomplete: "off"
    .form-group
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
        = f.label :remember_me
    .form-group
      = f.submit "Log in"
  = render "devise/shared/links"