= form_tag users_path, class: "form-inline", method: :get do
  .form-group
    = text_field_tag :query, params[:query], class: "form-control"
  '
  = submit_tag "Search"
  - if params[:query].present?
    = link_to "all results", users_path