- @user ||= current_user
.stats
  %a{:href => following_user_path(@user)}
    %span.follow-count{"data-id" => @user.id}
      = @user.following.count
    following
  %a{:href => followers_user_path(@user)}
    %span.follow-count{"data-id" => @user.id}
      = @user.followers.count
    followers

