= simple_form_for current_user.cards.build do |f|
  = f.input :name, :label => "New Card!", :placeholder => "Create a new card"
  = f.input :international
  = f.input :price, as: :collection_select
  = f.input :recipient_id
  = f.input :front
  = f.input :back
  = f.input :template
  = f.input :full_bleed
  = f.input :message
  %h3 Tasks
  #addresses
    = f.simple_fields_for :addresses do |address|
      = render 'address_fields', :f => address
    .links
      = link_to_add_association 'add address', f, :addresses
  = f.button :submit