%voice[voice]
  .panel.panel-primary
    .panel-heading
      .panel-title
        = voice.title
    .panel-body
      = voice.content
    .panel-footer
      =link_to user_path(voice.user) do
        = image_tag voice.user.profile_picture_url :thumb
        = "suggested by #{voice.author}"
      = link_to downvote_voice_path(voice), class: 'vote', method: :put, remote: true, id: voice.id do
        = fa_icon "thumbs-o-down"
      %span.votes-count{"data-id" => voice.id}
        = voice.get_likes.size
      = link_to upvote_voice_path(voice), class: 'vote', method: :put, remote: true, id: voice.id do
        = fa_icon "thumbs-o-up"