.container
  .col-md-6.col-md-offset-3
    %h1 Help us build a strong community.
    %p.well Have a great idea (or a bone to pick) with the Cubiclist? Building a good free product that's relevant for everyone is difficult, so this where you contribution counts.
    %hr
    %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Submit Your Idea
/ Button trigger modal

/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4#myModalLabel.modal-title Submit User Voice
      .modal-body
        = render 'form'