.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
  -unless @user.id == current_user.id
    %button.btn.btn-primary.btn-xs{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Message User