.col-md-3
  = pie_chart({"Followers" => @followers.count, "Following" => @following.count})
  = render 'follow_form'
  %hr
  %section.stats
    = render 'shared/stats'
    - if @followers.any?
      .user_avatars
        - @followers.each do |user|
          = link_to user_path(user) do
            = image_tag user.profile_picture_url :thumb
    - if @following.any?
      .user_avatars
        - @following.each do |user|
          = link_to user_path(user) do
            = image_tag user.profile_picture_url :thumb