.panel.panel-default
  #headingTwo.panel-heading{:role => "tab"}
    %h4.panel-title
      %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
        Approval Queue (First Time)
        %span.badge
          =@pending_approval.count
  #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
    .panel-body
      %table.table.table-responsive
        %tr
          %th
            Title
          %th
            Category
          %th
            Keywords
          %th
            Author
          %th
            Workflow State
          %th
            Actions
          - @pending_approval.each do |p|
            %tr
              %td
                = link_to p.title, post_path(p.id)
              %td
                = p.category_name
              %td
                = raw p.tag_list.map { |t| link_to t, tag_path(t)}.join(', ')
              %td
                = link_to "#{p.user.pen_name}", user_path(p.user_id)
              %td
                - if p.workflow_state == "published"
                  %label.label-success
                    = p.workflow_state
                - else
                  %label.label-warning
                    = p.workflow_state

              %td
                = link_to "View", post_path(p.id), class: 'btn btn-warning' unless p.workflow_state == "published"
                = link_to "Approve", approve_post_path(p.id), method: :put, class: 'btn btn-success' unless p.workflow_state == "published"
                = link_to "Ban", ban_post_path(p.id), method: :put, class: 'btn btn-danger' unless p.workflow_state == "published"
                = link_to "Delete", post_path(p.id), method: :delete, class: 'btn btn-danger'



