.panel.panel-default
  #headingFour.panel-heading{:role => "tab"}
    %h4.panel-title
      %a.collapsed{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
        Published
        %span.badge
          =@approved.count
  #collapseFour.panel-collapse.collapse{"aria-labelledby" => "headingFour", :role => "tabpanel"}
    .panel-body
      %table.table.table-responsive
        %tr
          %th
            Title
          %th
            Author
          %th
            Keywords
          %th
            Workflow State
          %th
            Actions
          - @approved.each do |p|
            %tr
              %td
                = link_to p.title, post_path(p.id)
              %td
                = link_to "#{p.author}", user_path(p.user_id)
              %td
                = raw p.tag_list.map { |t| link_to t, tag_path(t)}.join(', ')
              %td
                - if p.workflow_state == "published"
                  %label.label-success
                    = p.workflow_state
                - else
                  %label.label-warning
                    = p.workflow_state

              %td
                = link_to "edit", edit_post_path(p.id), class: 'btn btn-warning' unless p.workflow_state == "published"
                = link_to "Approve", approve_post_path(p.id), method: :put, class: 'btn btn-success' unless p.workflow_state == "published"
                = link_to "Request Revision", revise_post_path(p.id), method: :put, class: 'btn btn-primary' unless p.workflow_state == "published"
                = link_to "Ban", ban_post_path(p.id), method: :put, class: 'btn btn-danger' unless p.workflow_state == "published"
                = link_to "Delete", post_path(p.id), method: :delete, class: 'btn btn-danger'