%table.table.table-striped.table-responsive
  %tr
    %th
      Referenced Post
    %th
      Referenced User
    %th
      Workflow State
    %th
      Content
    %th
    - @revisions.each do |r|
      %tr
        %td
          = link_to "#{r.post.title}", post_path(r)
        %td
          = r.user_id?
        %td
          = link_to "#{r.workflow_state}", post_path(r)
        %td
          = r.title
        %td
          = link_to "delete", post_revision_path(r.post_id, r.id), method: :delete
        %td
          = link_to "Send to User", pass_off_post_revision_path(r.post_id, r.id), method: :patch, remote:true