.nested-fields
  = f.input :address_line_1
  = f.input :address_line_2
  = f.input :address_city
  = f.input :address_state
  = f.input :address_zip
  = f.input :address_country, as: :country
  = link_to_remove_association "remove task", f