= simple_form_for current_user.outbound_cards.build do |f|
  = f.association :recipient, label: 'To:'
  = f.input :front
  = f.input :back
  = f.input :template
  = f.input :international
  = f.input :full_bleed
  = f.input :message
  = f.button :submit