.container
  %h1 Cardbox
  %hr
  = modal render 'form', title: 'Send a Card'
  %div{:role => "tabpanel"}
    %ul.nav.nav-tabs{:role => "tablist"}
      = nav as: :tabs do
        %li{:role => "presentation"}
          = link_to 'Inbox', {"aria-controls" => "home", "data-toggle" => "tab", :href => "#unread", :role => "tab"}
        %li{:role => "presentation"}
          = link_to 'Sent', {"aria-controls" => "messages", "data-toggle" => "tab", :href => "#trash", :role => "tab"}
    .tab-content
      #unread.tab-pane.active{:role => "tabpanel"}
        = render @cards
      #read.tab-pane{:role => "tabpanel"}

