= simple_form_for @post do |f|
  = f.input :title, :placeholder => "Post Title"
  = f.input :category_name
  = f.input :brief, label: 'Subtitle or Brief Description'
  / = f.input :tag_list, label: 'Keywords', :input_html => { :id => "#post_tags_list" }
  = f.input :content, :input_html => { :class => "redactor" }
  = f.input :post_picture, label: "Upload main picture here."
  #sources
    = f.simple_fields_for :sources do |source|
      = render 'source_fields', :f => source
    .links
      = link_to_add_association 'Add Source', f, :sources, class: 'btn btn-primary'
  %hr
  = f.button :submit, value: "save as draft"
  = f.button :submit, value: "submit for approval"



:javascript
  $(document).ready(function () {
      $("#post_category_name").tokenInput("/categories.json", {
      hintText: "Select Category",
      tokenValue: "name"});
  });