= link_to downvote_post_path(post), class: 'vote', method: :put, remote: true, id: post.id do
  = fa_icon "angle-up"

  %span.votes-count{"data-id" => post.id}
  = post.get_likes.size

= link_to upvote_post_path(post), class: 'vote', method: :put, remote: true, id: post.id do
  = fa_icon "angle-up"