%post[post]
  %h1.title=link_to post.title, user_path(post.user_id)
  %hr
  = link_to (image_tag post.post_picture_url :post_mini), post_path(post)
  = link_to (image_tag post.user.profile_picture_url :post_thumb), post_path(post)
  = post.brief
%vote
  %div
    = link_to upvote_post_path(post), class: 'vote', method: :put, remote: true, id: post.id do
      %h1= fa_icon "angle-up"
  %span.votes-count{"data-id" => post.id}
    = post.get_upvotes.size
  %div
    = link_to downvote_post_path(post), class: 'vote', method: :put, remote: true, id: post.id do
      %h1= fa_icon "angle-down"