%user_control
  What's your position?
  .btn-group{"data-toggle" => "buttons"}
    %label.btn.btn-primary.active
      %input{:autocomplete => "off", :checked => "", :type => "checkbox"}
        Oppose
        =fa_icon "thumbs-down"
    %label.btn.btn-default
      %input{:autocomplete => "off", :type => "checkbox"}
        Neutral
    %label.btn.btn-success
      %input{:autocomplete => "off", :type => "checkbox"}
        Support
        =fa_icon "thumbs-up"