.panel.panel-default
  .panel-heading Panel heading without title
  .panel-body
    #posts
      %input.search{:placeholder => "Search"}
      %button.sort{"data-sort" => "name"}
        Sort by name
      %table
        / IMPORTANT, class="list" have to be at tbody
        %tbody.list
          - @posts.each do |p|
            %tr
              %td.name= p.name
              %td
                = link_to upvote_post_path(p), class: 'vote', method: :put, remote: true, id: p.id do
                  = fa_icon "sort-asc"
              %td
                %span.votes-count{"data-id" => p.id}
                  = p.get_likes.size
              %td
                = link_to downvote_post_path(c), class: 'vote', method: :put, remote: true, id: p.id do
                  = fa_icon "sort-down"


:javascript
  var options = {
    valueNames: [ 'name', 'votes' ]
  };

  var postList = new List('posts', options);