.container
  .panel.panel-default
    .panel-heading Manage Posts
    .panel-body
      = alert_box 'New posts will be automatically saved as draft, with an option to publish manually.', dismissible: true
      .col-md-12
        %p
          = link_to new_post_path, class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-plus
            New Draft
        %hr
        %div{:role => "tabpanel"}
          / Nav tabs
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.active{:role => "presentation"}
              %a{"aria-controls" => "Profile", "data-toggle" => "tab", :href => "#tab1", :role => "tab"}
                %span.badge#drafts_tab
                  = @drafts.count
                Drafts
            %li{:role => "presentation"}
              %a{"aria-controls" => "Account", "data-toggle" => "tab", :href => "#tab2", :role => "tab"}
                %span.badge#pending_approval_tab
                  = @pending_approval.count
                Pending Approval
            %li{:role => "presentation"}
              %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#tab3", :role => "tab"}
                %span.badge#action_required_tab
                  = @needs_revision.count
                To Do
            %li{:role => "presentation"}
              %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#tab4", :role => "tab"}
                %span.badge#published_tab
                  = @approved.count
                Published

        .tab-content
          = render :partial => 'posts/manage/tab_manage_drafts'
          = render :partial => 'posts/manage/tab_manage_pending_approval'
          = render :partial => 'posts/manage/tab_manage_action_required'
          = render :partial => 'posts/manage/tab_manage_published'