%header.tint.intro-header{:style => "background-image: url('#{@post.post_picture_url}')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .post-heading
          %h1 #{@post.title}
          %h2.subheading #{@post.brief}
          %span.meta
            Posted by
            = link_to @post.author, user_path(@post.user.id)
            = "on #{@post.created_at.strftime("%A, %B %d, %Y")}"



%vote
  %div
    = link_to upvote_post_path(@post), class: 'vote', method: :put, remote: true, id: @post.id do
      %h1= fa_icon "angle-up"
  %span.votes-count{"data-id" => @post.id}
    = @post.get_upvotes.size
  %div
    = link_to downvote_post_path(@post), class: 'vote', method: :put, remote: true, id: @post.id do
      %h1= fa_icon "angle-down"

%article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %p= raw @post.content
        %h2 Sources
        -@post.sources.each_with_index do |source, index|
          %p index
