= simple_form_for current_user.task_lists.build do |f|
  = f.input :name, :label => "Create New To Do List", :placeholder => "+ task here"
  %h3 Tasks
  #tasks
    = f.simple_fields_for :tasks do |task|
      = render 'task_fields', :f => task
    .links
      = link_to_add_association 'add task', f, :tasks