.nested-fields
  = f.input :name
  = f.input :priority_level, as: :select
  = f.input :due_date
  = f.input :reminder
  = f.input :reoccuring
  = f.input :description
  = link_to_remove_association "remove task", f