.container
  %h1 Inbox
  %hr
  %div{:role => "tabpanel"}
    %ul.nav.nav-tabs{:role => "tablist"}
      = nav as: :tabs do
        %li{:role => "presentation"}
          = link_to 'To Do', {"aria-controls" => "home", "data-toggle" => "tab", :href => "#todo", :role => "tab"}
        %li{:role => "presentation"}
          = link_to 'In Flux', {"aria-controls" => "profile", "data-toggle" => "tab", :href => "#influx", :role => "tab"}
        %li{:role => "presentation"}
          = link_to 'Completed', {"aria-controls" => "profile", "data-toggle" => "tab", :href => "#completed", :role => "tab"}
        %li{:role => "presentation"}
          = link_to 'Search', {"aria-controls" => "profile", "data-toggle" => "tab", :href => "#search", :role => "tab"}

    .tab-content
      #todo.tab-pane.active{:role => "tabpanel"}
        = render @task_lists
      #influx.tab-pane{:role => "tabpanel"}
        = modal render 'form'
      #completed.tab-pane.active{:role => "tabpanel"}
        = render @task_lists
      #search.tab-pane.active{:role => "tabpanel"}
        = render @task_lists



