.tab-pane{:id =>  "tab3"}
  %hr
    %p.well
      = fa_icon "info"
      Get this shit done as fast as possible to facilitate the publishing process.
      %h2 Get Shit Done
  %table.table.table-bordered.table-responsive
    - @needs_revision.each do |p|
      %tr
        %th
          Status
        %th
          Net
        %th
          Progress
        %th
          Revision Items
      %tr
        %td
          = p.workflow_state
        %td
          = link_to p.title, post_path(p.id)
          = link_to  edit_post_path(p.id), class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-pencil
            Revise
          = link_to  submit_post_path(p.id), class: 'btn btn-success', confirm: "Are you sure you are ready to submit your post for approval?", method: :put do
            %span.glyphicon.glyphicon-arrow-right
            Re-Submit for Approval
        %td
          .badge
          completed
          .badge
          active
          .badge
          revisions remaining