.tab-pane.active{ :id => "tab1"}
  %hr
  %p.well
    = fa_icon "info"
    Drafts must be submitted manually prior to approval.
  %h2.pull-left My Drafts
  %table.table.table-striped.table-responsive
    %tr
      - @drafts.each do |d|
        %tr
          %td
            %h5
              = link_to post_path(d.id) do
                %span.glyphicon.glyphicon-file
                = d.title
          %td
            = " updated #{time_ago_in_words(d.updated_at)} ago"
          %td
            .label.label-default
              = "Category: #{d.category_name} #{d.category_id}"
          %td
            = link_to "Edit", edit_post_path(d.id)
            = link_to "Delete", post_path(d.id), method: :delete
            = link_to submit_post_path(d.id), confirm: "Are you sure you are ready to submit your post for approval?", method: :put do
              Submit