.tab-pane{:id =>  "tab2"}
  %hr
  %p.well
    = fa_icon "info"
    Posts that have been submitted transition to the "pending approval" state until reviewed by the Cubiclist editorial team.
    %h2 Posts Pending Approval
    %table.table.table-striped.table-responsive
      %tr
        - @pending_approval.each do |d|
          %tr
            %td
              = link_to d.title, post_path(d.id)
            %td
              = link_to revert_post_path(d.id), confirm: "Are you sure you would like to withdraw your post from the approval queue?", method: :put do
                Revert To Draft