.tab-pane{:id =>  "tab4"}
  %hr
    %p.well
      = fa_icon "info"
      Posts that have been approved will be displayed here.
      %h2 Posts Pending Approval
  %table.table.table-striped.table-responsive
    %tr
      %th Post
      %th Upvotes
      %th Impressions
      %th Clicks
    %tr
      - @approved.each do |p|
        %tr
          %td
            = link_to p.title, post_path(p.id)
          %td
            = link_to "#{p.get_upvotes.size}", post_path(p.id)
          %td






