$primary-color: #333;
$gradient_1: #994dff;
$gradient_2: #6158d4;
$gradient_3: #7269ff;
$fb_blue: #3b5998;
$fb_lt_blue: #8b9dc3;
$fb_lt_grey: #f7f7f7;


.form {padding:10px;}

.form-control {
  border-radius: 0;
  height: 40px;
}


#user_email, #user_password, #new_user > div:nth-child(4) > input:nth-child(2) {
  height: 40px;
}

.form-group {
  border-radius:0;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-radius: 0;
  color: #222;
  border-bottom: $primary-color;
  outline: 0 none;
}

input {
  height:40px;
  background: #dce1e6;
  color:$primary-color;
  outline: 0 none;
  border: none;
  border-radius: 0;

}

.button_to #facebook {
  color:white;
  background: 50% $fb_blue;
}