/* Categories Bar */


.category-items, .category-items a {
  display:inline-block;
  padding: 2px;}

.categories_bar {
  text-align: center;
  font-size:.8em;
  font-weight:500;
  font-family: 'Lato', sans-serif;
  height:30px;
  line-height: 30px;
  display:block;
  margin-bottom: 15px;
}

#category_description {
  height: 100px;
}


.category-items a {
}

.category-items a:hover {
  border-bottom: 3px solid grey;
}