@import url(http://fonts.googleapis.com/css?family=Monoton|Buda:300|Quattrocento+Sans);
@import url(http://fonts.googleapis.com/css?family=Caudex:400,700|Tenor+Sans);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,400italic);

body, html{
  padding:0;
  margin:0;
  font-family: Lato;
  height: 100%;

}

.banner {
  background-image: -webkit-linear-gradient(top left, #994dff 0%, #6158d4 33%, #7269ff 100%);
}

li
{
  list-style-type: none;
}

a, a:hover, a:active, a:visited, a:link {text-decoration:none;}
a:hover {
  color:#6158d4;
}
/* start typography */

.time {
  text-align:center;
  font-family:'Lato';
  font-weight:500;
  font-size: 1.0em;
  color: #515355;
  border-bottom: 5px solid #515355;
  padding:5px;
}




.alert.alert-info {
  font-family: 'Lucida Sans', sans-serif;
  color:white;
  font-size: 1.0em;
  border:0;
  padding:0;
  margin:0;
  text-align:center;
  background: transparent;
}


/* navbar stuff */

body > navbar {
  display: inline-block;
  float: none;
  height: 40px;
  padding:0;

}



message.active {
  color: crimson;
}

.submit {
  padding:0;
  margin: 0;
  border:0;
  background: #323232;
  color:white;
  width: 70px;
  height: 70px;}

.btn {
  margin:0;

}

.search {
  border-bottom: 1px solid grey;
}

#submit {
  width: 30px;
}

.new_post_button, .new_post_button a {
  margin:0;
  padding:0;
  height:40px;
  border-radius:0;
  background: #ffffff;
  color: #52ae41;
}

#wrapper > navbar {
  background: #19191a;
}
.navbar-nav li a {
  font-family: Lato, sans-serif;
  font-weight: 500;
  font-size: .8 em;
  line-height: 40px;
  height: 40px;
  padding-top: 0;
}

/* banner */

.banner {
  position:relative;
  margin-top:40px;
  text-align:center;}

.banner a {
  color:white;
  font-family: 'monoton';
  font-size: 45pt;
}



.fixed {
  position: fixed;
}

.vote, .vote a {
  color:black;
  font-size:1.0em;
  line-height:30px;
  height:30px;
  width:50%;
  text-align:center;}

.comments, .comments a {
  font-weight:300;
  font-size:1.2em;
  line-height:30px;
  height:40px;
  width:50%;
  color: #994dff;
  text-align:center;
}

div.vote.pull-left > span {
  font-weight:300;
  font-family: Lato, sans-serif;
  font-size:1.5em;
}

#chart {
  background:transparent;}

.thumbnail {
  background: transparent;
  border:0;
  padding: 0;
  margin: 0;
  border-radius:0;
  border-bottom: 5px solid gray;
}

.badge {
  font-size: 1em;
  opacity: .9;
}

#pending_approval_tab {
  background: #ffcb53;
}

#action_required_tab {
  background: #ff6761;
}

#published_tab {
}


.col-md-4 {
  padding:0;
}

.side_bar {
  display:block;
  position:fixed;
  background: #dfdfdf;
  height:100%;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em;}
  .m { font-size: 1.2em;}
  .l { font-size: 1.8em;}

}


.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #999999;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}



.img img-circle {
  width: 250px;
}

#wrapper > navbar > nav > div.navbar-header.pull-right > div, form#new_user {margin: 0;}





#chart-1 > div:nth-child(1) > div > svg > g > rect {
  padding: 50px;
  margin: 50px;
  width: 100%;
  fill: none;
}
/*= Blinking cursor */

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

#welcome {
  margin-top: 50px;
  color:white;
}


.navbar-brand, a.navbar-brand {
  line-height: 40px;
  padding-bottom: 00px;
  padding-top: 00px;
  padding-left: 35px;
}


.img-circle {
  width: 50%;
  margin-top: 20px;
  margin-left:40px;
  margin-bottom: 15px;
}

.element {
  color:white;
}

post, post a, post a:hover {
  color:white;
}

.col-md-6 {
  padding:0;
}

.redactor_box {
  height: 400px;
}

/*user_list */

.media
{
  /*box-shadow:0px 0px 4px -2px #000;*/
  margin: 20px 0;
  padding:30px;
}
.dp
{
  border:10px solid #eee;
  transition: all 0.2s ease-in-out;
}
.dp:hover
{
  border:2px solid #eee;
  transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  /*-webkit-font-smoothing:antialiased;*/
}

/*News Gallery*/

#myCarousel .carousel-caption {
  left:0;
  right:0;
  bottom:0;
  text-align:left;
  padding:10px;
  background:rgba(0,0,0,0.6);
  text-shadow:none;
}

#myCarousel .list-group {
  position:absolute;
  top:0;
  right:0;
}
#myCarousel .list-group-item {
  border-radius:0px;
  cursor:pointer;
}
#myCarousel .list-group .active {
  background-color:#000000;
  border:0;
}

@media (min-width: 992px) {
  #myCarousel {padding-right:33.3333%;}
  #myCarousel .carousel-controls {display:none;}
}
@media (max-width: 991px) {
  .carousel-caption p,
  #myCarousel .list-group {
    display: none;
  }
}

h1 a {
  font-weight: 500;
  color:white;
}

.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}
.carousel-control.right {
  right: -12px;
}
/* The indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
  background: #cecece;
}
.carousel-indicators .active {
  background: #428bca;
}