%tr[category]
  %td.name= category.name
  %td.vote
  %td
    = link_to upvote_category_path(category), class: 'vote', method: :put, remote: true, id: category.id do
      = fa_icon "sort-asc"
  %td
    %span.votes-count{"data-id" => category.id}
      = category.get_likes.size
  %td
    = link_to downvote_category_path(category), class: 'vote', method: :put, remote: true, id: category.id do
      = fa_icon "sort-down"