.container
  %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
    Suggest a new category
  #categories
    .col-md-6
      %input.search{:placeholder => "Search"}/
      %button.sort{"data-sort" => "name"}
        Sort by name
    .col-md-6
      %table
        / IMPORTANT, class="list" have to be at tbody
        %tbody.list
          - @categories.each do |c|
            %tr
              %td.name= c.name
              %td
                = link_to upvote_category_path(c), class: 'vote', method: :put, remote: true, id: c.id do
                  = fa_icon "sort-asc"
              %td
                %span.votes-count{"data-id" => c.id}
                  = c.get_likes.size
              %td
                = link_to downvote_category_path(c), class: 'vote', method: :put, remote: true, id: c.id do
                  = fa_icon "sort-down"


:javascript
  var options = {
    valueNames: [ 'name', 'votes' ]
  };

  var categoryList = new List('categories', options);


/ Button trigger modal

/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
          %span.sr-only Close
        %h4#myModalLabel.modal-title
          = "Suggest a new Category"
      .modal-body
        = simple_form_for @categories.build do |f|
          = f.input :name
          = f.input :description
          = f.input :picture
          %br
          = f.button :submit
      .modal-footer