.row
  .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
    -@category.posts.each do |post|
      .post-preview
        = link_to post_path(post) do
          %h2.post-title
            = post.title
          %h3.post-subtitle
            = post.brief
        %p.post-meta
          Posted by
          = link_to user_path(post.user.id) do
            #{post.author}
          #{time_ago_in_words(post.updated_at)} ago
      %hr