%navbar.navbar-fixed-top.navbar-inverse
  %nav
    .navbar-brand
      %a#menu-toggle.pull-right{:href => "#menu-toggle"}
        =fa_icon "long-arrow-right"
        Toggle Menu
    .navbar-header.pull-right
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -if current_user == nil
        = render 'layouts/log_in'
      -if user_signed_in?
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            -if current_user
              %li
                %a{:onclick => "toggle()"}
                  = fa_icon "moon-o"
              %li
                %a{:onclick => "dayMode()"}
                  = fa_icon "lightbulb-o"
              %li
                = link_to admin_path do
                  Admin
              %li
                = link_to manage_path do
                  Writer Dashboard
              %li.new_post_button
                = link_to new_post_path do
                  New Article
              %li
                = link_to messages_path do
                  Messages
                  %span.badge
                    #{current_user.incoming_messages.unread.count}
                %ul.dropdown-menu{:role => "menu"}
                  - current_user.incoming_messages.unread.each do |m|
                    %li.strong
                      = link_to (image_tag m.user.profile_picture_url :post_thumb), mark_as_read_message_path(m), method: :put
                      .media-body
                        %h4.media-heading #{m.author}
                      .media-footer
              %li
                %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
                  = image_tag current_user.profile_picture_url :thumb, class: 'img img-circle'
                  = current_user == nil ?  'Sign Up' : " #{current_user.pen_name}"
                  %b.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    = link_to "Edit Profile", edit_user_registration_path
                    = link_to "Log Out", destroy_user_session_path, :method => :delete
            -else
              %li
                = link_to categories_path do
                  %span.glyphicon.glyphicon-th-list
                  Categories
              %li
                = link_to users_path do
                  %span.glyphicon.glyphicon-book
                  Staff Directory
              %li
                = link_to new_post_path do
                  %span.glyphicon.glyphicon-pencil
                  New Article
              %li
                = link_to "Manage Posts", manage_path
              %li
                = link_to messages_path do
                  %span.badge
                    #{current_user.incoming_messages.unread.count}
                  Messages
              %li
                %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
                  = image_tag current_user.profile_picture_url :thumb_post
                  = current_user == nil ?  'Sign Up' : " #{current_user.pen_name}"
                  = fa_icon "arrows-v"

                %ul.dropdown-menu{:role => "menu"}
                  %li
                    = link_to "My Profile", user_path(current_user.id)
                    = link_to edit_user_registration_path do
                      Edit Profile & Settings
                    = link_to "Log Out", destroy_user_session_path, :method => :delete
































