.navbar-form.navbar-right{:role => "search"}
  = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "navbar-form navbar-right"}) do |f|
    .form-group
      = f.email_field :email, autofocus: true, :class => "form-control", placeholder: 'Email'
    .form-group
      = f.password_field :password, autocomplete: "off", :class => "form-control", placeholder: 'Password'
    .form-group
      - if devise_mapping.rememberable?
        = f.hidden_field :remember_me, value: :true, :class => "form-control"
        = f.submit 'Log in', :class => "form-control"