-if current_user != nil
  #rightbar-wrapper.toggled
    %ul.sidebar-nav
      %li.row
        = link_to user_path(current_user) do
          = image_tag current_user.profile_picture_url, class: 'img-circle img-responsive', id: '#profile_picture'

      %li
        = link_to users_path do
          = fa_icon "group"
          Friends

      %li
        = link_to user_voices_path(current_user) do
          = fa_icon "bullhorn"
          User Voice
      -if current_user.admin?
        %li
          = link_to edit_user_registration_path do
            = fa_icon 'shopping-cart'
            Shopping Cart
            %span.label.label-danger
              A
        %li
          = link_to edit_user_registration_path do
            = fa_icon 'credit-card'
            View Orders
            %span.label.label-danger
              A
        %li
          = link_to task_lists_path(current_user) do
            = fa_icon 'check'
            LessBot
            %span.label.label-success
              B

