-if current_user != nil
  #sidebar-wrapper
    %ul.sidebar-nav
      %li
        = link_to (image_tag current_user.profile_picture_url, class: 'img img-circle'), user_path(current_user)
      %li
        = link_to root_path do
          = fa_icon "globe"
          Front Page
      %li
        = link_to categories_path do
          = fa_icon "list"
          Categories
      %li
        = link_to collections_path do
          = fa_icon "heart"
          My Collections
      %li
        = link_to users_path do
          = fa_icon "group"
          Find Writers
      %li
        = link_to user_voices_path(current_user) do
          = fa_icon "bullhorn"
          User Voice
      %li
        = link_to manage_path do
          = fa_icon "file"
          Manage Posts

      -if current_user.admin?
        %li
          = link_to  admin_path do
            %span.label.label-danger
              Admin Only
        %li
          = link_to analytics_path do
            = fa_icon "bar-chart"
            Analytics
        %li
          = link_to trends_path do
            = fa_icon "line-chart"
            Trends

