!!!
%html
  %head
    %title The Cubiclist
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body#wrapper
    = render 'layouts/header'
    = render 'layouts/sidebar_left'
    #page-content-wrapper
      = render 'layouts/banner'
      = render 'layouts/categories_nav'
      %flash
        - flash.each do |name, msg|
          = alert_box msg, dismissible: true, context: :notice

      = yield
      = render 'layouts/footer'




:javascript
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });




